*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-image: url(../img/whatsapp-wallpaper-thumbnail.jpg);
}
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(168, 167, 167);
    height: 100%;
}
.avatar_img img {
    height: 50px;
    border-radius: 50%;
}
.notice {
    background-color: rgb(127, 214, 255);
}
.bell_icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
    text-align: center;
    background-color: white;
    color: rgb(127, 214, 255);
    font-size:x-large
}
.container {
    margin:auto;
    margin-top: 50px;
    width: 1000px;
    height: 700px;
    z-index: 999;
}
.col_contacts {
    height: 700px;
    width: 40%;  
}
.contacts{
    overflow:scroll;
    height: 500px;
}
.search_inp{
    margin-left: 8px;
    margin-top: 7px;
    border-radius: 10px;
    border: navajowhite;
}
.col_messages {
    width: 60%;    
}
.conversation_box {
    height: 565px;
    background-image: url(../img/wallpaper.jpg);
    overflow:scroll;
}

.input_message input {
    width: 500px;
    border-radius: 10px;
    border: none;
}
.message {
    background-color: aquamarine;
    border-radius: 10px;
    width: 200px;
    
}
.sent {
    background-color: rgb(165, 248, 165);
}
.received {
    background-color: white;
}

/***********General Rules************/

.h-4rem{
    height: 4rem; 
}
.h-3rem{
    height: 3rem;
}
.w-95{
    width: 95%;
}
.py-20{
    padding-left:20px;
}
.pt-20{
    padding-top: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.d-flex{
    display: flex;
}
.flex-between{
    justify-content: space-between;
}
.bg-col-gray{
    background-color: rgb(231, 222, 222);
}
.color-gray {
    color: rgb(119, 118, 118);
}
.bor-left {
    border-left: 1px solid rgb(133, 131, 131);
}
.bord-bottom{
    border-bottom: 1px solid rgb(209, 206, 206);;
}
.text-decoration{
    text-decoration:underline;
}



