<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d64aa79990.js" crossorigin="anonymous"></script>
    
    <title>Boolzapp</title>
</head>
<body>
    <div id="app" class="container">
        <div class="row d-flex">

            <div class="col_contacts">
                <header class="h-4rem">
                    <div class="my_data d-flex">
                       <div class="avatar_img ml-20">
                        <img src="img/avatar_io.jpg" alt="my-avatar-img">
                        </div>   
                        <div class="my_name ">
                            <p class="py-20 mt-10 ">Soraya</p>
                        </div>
                    </div>
                    <div class="header_btn mr-10 color-gray">   
                        <i class="fa-regular fa-circle "></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="far fa-user"></i>
                    </div>
                </header>
                <div class="notice h-4rem d-flex">
                    <div class="bell_icon ml-20">
                        <i class="far fa-bell-slash mt-10"></i>
                    </div>
                    <div class="notice_text py-20 mt-10">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p class="text-decoration color-gray">attiva notifiche desktop</p>
                    </div>
                   
                </div>
                <div class="search_contact h-4rem bg-col-gray">
                    <input class="search_inp w-95 h-3rem" type="text">
                </div>


                <div class="contacts bg-col-gray">    
                    <div v-for="contact in contacts" class="contact h-4rem bord-bottom d-flex">
                        <div class="user_data d-flex">
                            <div class="avatar_img ml-20">
                              <img :src="'img/avatar' + contact.avatar + '.jpg'">
                            </div>
                             <div class="user_text py-20">
                                <p  class="user_name mt-10">{{contact.name}}</p>
                                <small class="color-gray ">ultimo messaggio inviato</small>
                            </div>
                               
                         </div>  
                    </div>
                </div>
            </div>

            <div class="col_messages ">
              <header class="h-4rem bor-left">
                <div class="my_data d-flex">
                    <div class="avatar_img ml-20">
                     
                     </div>   
                     <div class="my_name ">
                         <p class="py-20 mt-10">Name</p>
                     </div>
                 </div>
                 <div class="header_btn mr-10 color-gray">   
                     <i class="fa-regular fa-circle "></i>
                     <i class="fa-solid fa-message"></i>
                     <i class="far fa-user"></i>
                 </div>
              </header>

              <div class="conversation_box">
                    <div v-for="(contact, indice) in contacts" class="message ml-20">
                        <p class="ml-20 mt-20 pt-20 pb-20">{{contact.messages}}</p>
                    </div>
              </div>

              <footer class="h-4rem d-flex flex-between">
                <div class="emoji_btn ml-20 color-gray">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <div class="input_message">
                    <input class="h-3rem" type="text">
                </div>
                <div class="send_message_btn mr-20 color-gray">
                    <i class="fa-regular fa-paper-plane"></i>
                </div>
              </footer>
            </div>
        </div>
    </div>
  
    



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>